@tailwind base;
@tailwind components;
@tailwind utilities;

.resp-tab {
  border-radius: 5px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  opacity: 0.99;
}
.resp-tab th,
.resp-tab td {
  padding: 10px 20px;
  font-size: 13px;
  border: none;
  font-family: Verdana, sans-serif;
  border: 1px solid #337ab7;
  vertical-align: top;
}
.resp-tab th {
  color: #fff;
  @apply bg-indigo-900;
  font-weight: bold;
  border: 1px solid #1a4a73;
  text-transform: uppercase;
  text-align: center;
}
.resp-tab tr:nth-child(even) {
  background: #edf7ff;
  color: #000;
}
.resp-tab tr:nth-child(odd) {
  @apply bg-indigo-400;
  color: #fff;
}
.resp-tab td span {
  @apply bg-indigo-700;

  color: #fff;
  display: none;
  font-size: 11px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  text-transform: uppercase;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 768px) {
  .resp-tab thead {
    display: none;
  }
  .resp-tab tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .resp-tab td {
    margin: 0 -1px -1px 0;
    padding-top: 35px;
    position: relative;
    width: 50%;
  }
  .resp-tab td span {
    display: block;
  }
}
@media (max-width: 480px) {
  .resp-tab td {
    width: 100%;
  }
}

body {
  background-image: url("https://st2.depositphotos.com/1357853/7025/i/450/depositphotos_70255123-stock-photo-color-paper-samples.jpg");
  color: #fff;
}
